<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <h1>¡Bienvenida pf!</h1>
            <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-product pTemplate="item">
                        <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                            <div class="my-5">
                                <img src="assets/demo/images/product/{{product.image}}" [alt]="product.name" class="shadow-4" width="100%"/>
                            </div>
                        </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>